{
	"env": {
		"browser": true
	},
	"parserOptions": {
		"parser": "babel-eslint"
	},
	"plugins": [
		"prettier"
	],
	"extends": [
		"airbnb-base",
		"plugin:prettier/recommended",
		"plugin:vue/strongly-recommended"
	],
	"settings": {
		"import/resolver": {
			"node": {
				"extensions": [
					".js",
					".jsx"
				]
			}
		}
	},
	"rules": {
		"prettier/prettier": [
			"error",
			{
				"singleQuote": true,
				"semi": true,
				"trailingComma": true
			}
		]
	}
}